.ModalBackground{
    background: rgba(32, 35, 41,1);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
}

@media screen and (min-width: 950px) {
    
    .ModalBackground{
        display: none;
    }
  }
