.links-nav li a, .links-nav li span{
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  background-color: transparent;
  border: 0;
}
.links-nav li a:hover, .links-nav li span:hover {
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
  border-radius: 8px;
}

.links-nav {
  width: 100%;
  overflow: hidden;
  transition: var(--transition); 
  height: auto;
  display: none;
  justify-content: center;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.show-links {
  height: 10rem;
}

.modal-links {
  margin-top: 120px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: var(--transition);
}

.modal-links li {
  width: 90%;
  background-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  text-align: center;
  transition: var(--transition);
}

.modal-links li a, .modal-links li span{
  width: 80%;
  display: inline-block;
  background-color: transparent;
  padding: 1rem 1rem;
  font-size: 0.8rem;
  color: aliceblue;
  border: none;
  border-bottom: solid 1px var(--clr-grey-7);
}
.modal-links li:hover {
  border: 1px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
  border-radius: 8px;
}

.show-links {
  height: 10rem;
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .modal-links li a, .modal-links li span{
    font-size: 1.1rem;
  }
 }
 @media all and (min-width: 768px){ 
  .links-nav li a, .links-nav li span{
    font-size: 1.2rem;
    text-align: center;
  }
  .links-nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 6px;
  }
 }
 
 @media all and (min-width: 1024px){
  .links-nav li a, .links-nav li span{
    font-size: 1.3rem;
  }
 }
