.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-primary-2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  }
  
  .navbar-toggler {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .navbar-toggler:hover {
    transform: rotate(90deg);
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }

.logo {
    padding-right: 1rem;
    height: 48px;
}

.menu-icon-bar {
    height: 36px;
}
.navbar-brand, .title {
    display: flex;
    align-items: center;
    margin: 12px;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(45deg, #FFC107, #FF5722, #E91E63, #9C27B0, #673AB7, #3F51B5, #2196F3, #03A9F4, #00BCD4, #009688, #4CAF50, #8BC34A);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    animation: gradient 15s ease infinite;
    padding: 0;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
}
.navbar-brand:focus, .navbar-brand:hover{
    color: transparent;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    text-align: center;
    color: var(--clr-grey-8);
    padding: 12px;

}
.nav-link:hover {
    border: solid 1px var(--clr-primary-5);
    border-radius: 12px;
    color: var(--clr-primary-5);
}
.dropdown-menu.show a:hover{
    color: var(--clr-primary-5);
    font-weight: bold;
} 

.nav-link:focus, .nav-link.show {
    color: var(--clr-grey-8);
}
  .dropdown-menu.show {
    background-color:  rgba(32, 35, 41,0.97);
    
  }
  .dropdown-menu.show a{
    color: var(--clr-grey-8);
  }

  .dropdown-menu.show{
    color: var(--clr-primary-5);
    font-weight: bold;

  }

  .offcanvas.offcanvas-end{
    background-color: rgba(48, 36, 85, 0.97);
  }

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
@media all and (min-width: 768px) { 
    .navbar-brand{
    font-size: 2.4rem;

    }
    .logo {
        height: 62px;
    }
}

@media all and (min-width: 990px) { 
    .navbar-brand{
    margin-right: 12px;

    }

}