.genres-container {
    padding: 8px 0.6rem;
}
.genres-contain {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media screen and (min-width: 950px) {
    .genres-container {
        padding: 0;
    }
    .genres-title{
        margin: 12px 24px;
    }
    .genres-contain {
        gap: 14px;
        justify-content: center;
    }
  }