.games-preview-container {
    background-image: url('https://img.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg?w=1380&t=st=1676606079~exp=1676606679~hmac=fdb55e04e2cc0eb13d82779087a7f57850c2a36b05ff3138bb8d91f38ee5e4a5');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 50%);
}

.preview-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0.6rem;
}
.games-contain  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 160px;
    
  }

.preview-title{
  font-size: 1.8rem;
  margin-bottom: 0;
}
.ranking-btn{
    border-radius: 6px;
    height: 28px;
    width: 100px;
}

/* Estilo para la barra de scroll horizontal */
::-webkit-scrollbar {
    height: 4px; /* Ancho de la barra de scroll */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fb25cf; /* Color de la barra de scroll */
  }
  @media all and (min-width: 768px) and (max-width: 950px) {

   }
  @media screen and (min-width: 950px) {
    .games-contain {
      justify-content: space-between;
      height: 400px;
      width: 90%;
      margin: 0 auto;
      overflow-x: hidden;
    }    


  .games-preview-container {
    height: 500px;
    box-shadow: 0px 0px 20px 8px rgb(0 0 0 / 50%);
  }
  .preview-title{
    font-size: 2rem;
  }
  .preview-header{
      padding: 12px 24px;
  }

  .ranking-btn{
      border-radius: 8px;
      height: 32px;
      width: 120px;
  }
  }