.pages-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6px;
    gap: 6px;
    align-items: center;
    margin: 0 auto;
}
.pages-container div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-contain-img{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
}
.pages{
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    max-width: 900px;
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .pages{
        height: 500px;
    }
 }

 
 @media all and (min-width: 768px) {
    .page-contain-img{
        gap: 36px;
    }
    .pages{
        height: 900px;
    }

  }