.toggle-menu {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .toggle-menu:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
  }

  @media screen and (min-width: 950px) {
    .toggle-menu{
      display: none;
  }
  }