.inputSearchGame{
    width: 25%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--clr-grey-8);
    border: none;
    font-size: var(--xs);
    padding-left: 8px;
}

.inputSearchGame:focus{
    outline-color: var(--clr-grey-6);
}