.genre-contain {
    outline: 4px ridge rgba(170, 50, 220, .6);
    border-radius: 6px;
    background-color: var(--clr-primary-4);
    padding: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
}

.genre-contain:hover{
    cursor: pointer;
    color: var(--clr-grey-5);
    border-radius: 8px;
    outline: none;
box-shadow: 0 0 10px 4px rgba(170, 50, 220, 0.4);
}

@media screen and (min-width: 950px) {
    .genre-contain {
        background-color: var(--clr-primary-4);
        border-radius: 6px;
        font-size: var(--xs);
        font-weight: 550;
        border: none;
    }
    
    .genre-contain:hover{
        cursor: pointer;
    }
  }