div.card {
  min-width: 100%;
  margin: 12px 0;
}

div.card-header {
  background-color: var(--clr-grey-8);
}

div.card-header a{
  color: var(--clr-primary-1);
  text-decoration: underline;
}

div.card-header a:hover{
  color: var(--clr-primary-5);
}
blockquote.blockquote {
  font-size: 1rem;
}
blockquote p a{
  font-size: medium;
  color: var(--clr-grey-5);
}
footer.blockquote-footer{
  font-size: smaller;
}