:root {
  --clr-primary-1: #5204BF;
  --clr-primary-2: #170136;
  --clr-primary-3: #260259;
  --clr-primary-4: #05C7F2;
  --clr-primary-5: #fcb322;
    /* grey used for paragraphs */
  --clr-grey-5: #955fe0;
  --clr-grey-6: #ad85e4;
  --clr-grey-7: #9582b1;
  --clr-grey-8: #d0c5e2;
  --clr-grey-9: #7e7b84;
  --clr-grey-10: #e1e1e1;
  --clr-white: #fff;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: var(--clr-primary-3);
  color: var(--clr-white);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  min-width: 300px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  position: relative;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

li{
  list-style: none;
}
p {
  color: var(--clr-grey-5);
}

span{
  color: var(--clr-grey-9) ;
}

.btn{
  background-color: var(--clr-primary-5);
  border: none;
  color: var(--clr-primary-3);
  font-weight: bold;
  font-size: 0.875rem;
}
button:hover{
cursor: pointer;
}
.btn:hover{
  background-color: var(--clr-grey-5);
  color: var(--clr-white);
  box-shadow: 0px 0px 10px 3px var(--clr-primary-2);
}

section[id]{
  scroll-margin-top: 160px ;
}
.game-container {
  position: relative;
  margin: 4px;
  width: 250px;
  height: 100%;

}

.game-img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}
.game-img.loaded {
  opacity: 1;
}
.name-game{
  position: absolute;
  z-index: 1;
}

.game-img:hover, .name-game:hover{
  cursor: pointer;
  filter: brightness(0.6);
 }
 .skeleton, .loading-card {
  background-color: #f0f0f0;
  animation: loading 0.5s ease-in-out infinite alternate;
}

@keyframes loading {
  from {
    background-color: #f0f0f0;
  }
  to {
    background-color: #939393;
  }
}

@media screen and (min-width: 950px) {
  h1{
    font-size: 2.5rem;
  }
  .skeleton, .loading-card {
    background-color: #f0f0f0;
    animation: loading 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes loading {
    from {
      background-color: #f0f0f0;
    }
    to {
      background-color: #939393;
    }
  }
  .game-container {

      margin: 6px;
      width: 300px;
  
    }
  
  .game-img{
    max-width: 300px;
      border-radius: 6px;
  }
}