.news-section{
  max-width: 300px;
    width: 95%;
    height: 200px;
    position: relative;
}

.news-img{
  position: absolute;
 width: 100%;
 object-fit: cover;
height: 100%;
border-radius: 12px;
}

.news-img:hover{
  cursor: pointer;
  filter: brightness(0.8);
 }
.title-news{
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: rgba(29, 28, 28, 0.5);
  padding: 10px;
  color: var(--clr-primary-8);
  margin-bottom: 0;
}
.title-news:hover{
  color: var(--clr-primary-5);
  text-decoration: underline;
  cursor: pointer;
 }
.description-news{
  display: none;
  color: var(--clr-grey-7);
}

.date-source {
  display: none;
}

.mobile-news-description{
  cursor: pointer;
  top: -5%;
  left: -5%;
  right: -5%;
  width: 110%;
  min-height: 110%;
  display: inline-flex;
  position: absolute;
  background-color: rgba(247, 238, 238, 0.8);
  color: var(--clr-primary-3);
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  align-items: center;
  z-index: 2;
  border-radius: 12px;
}
.news-section:hover .mobile-news-description {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.mobile-news-description {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media all and (min-width: 480px) and (max-width: 950px) {
  
  .mobile-news-description{
    font-size: 1rem;
  }
  .news-section{
    max-width: 600px;
    width:95%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;


  }
  .news-header{
      padding: 12px 24px;

  }
.info-news{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--clr-white);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px;

}
  .title-news{
    font-size: 1.1rem;
    padding: 10px;
    color: var(--clr-primary-8);
    position: static;
    border-top-left-radius: 12px;
    height: 90%;
    background-color: transparent;
    overflow: hidden;
    color: black;
    text-align: center;
  }

  .news-img{
    position: static;
    width: 50%;
    height: auto;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
  }
  .date-source {
    display: flex;
    font-size: 0.8rem;
  }
 }
@media screen and (min-width: 950px) {

  .news-section{
    max-width:  1200px;
    width:100%;
    height: 400px;
    position: static;
    display: flex;
    flex-direction: row-reverse;
  }
  .news-header{
      padding: 12px 24px;

  }
.info-news{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--clr-white);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 24px;

}
  .title-news{
    font-size: 1.6rem;
    padding: 10px;
    color: var(--clr-primary-8);
    position: static;
    border-top-left-radius: 12px;
    height: 40%;
    background-color: transparent;
    overflow: hidden;
    color: black;
    text-align: center;
  }

  .news-img{
    position: static;
    width: 50%;
    height: auto;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
  }
  .description-news{
    display: block;
    color: var(--clr-grey-7);
    width: 100%;
    border-bottom-left-radius: 12px;
    font-size: 1.5rem;
    height: 70%;
    text-align: justify;
  }
  .date-source {
    display: flex;
  }
  }